<PageTitle>Not Authorized</PageTitle>
<h3 class="text-xl font-semibold text-red-600">You are not authorized to view this page.</h3>
<p class="mt-2 text-gray-600">Please contact your administrator if you believe this is an error.</p>